.cache/
Makefile
config.h
config.log
config.status
config/Makefile
fortran/.deps/
fortran/Makefile
fortran/second.f
include/Makefile
include/qd/qd_config.h
include/qd/stamp-h2
libtool
qd-config
src/.deps/
src/.libs/
src/*.lo
src/*.o
stamp-h1
tests/.deps/
